.alignRight {
	text-align: -moz-right;
	#text-align: right;
}

.alignLeft {
	text-align: -moz-left;
	#text-align: left;
}

.alignCenter {
	text-align: -moz-center;
	#text-align: center;
}


/* -------------------------------------------------------------------------------------------------- */

.Main {
	BACKGROUND-COLOR: #FFFFFF; 
	CURSOR: default;

	MARGIN: 0px;

	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 

	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	
	FONT-FAMILY: Arial, Lucida Sans;
}

.topmenu {
	BACKGROUND-IMAGE:url(../images/Menu-top.gif); 
	BACKGROUND-POSITION:top right; 
	BACKGROUND-REPEAT:no-repeat; 
	BACKGROUND-COLOR:#007798;
	HEIGHT:70px;
}

.logo {
	POSITION: absolute; 
	TOP: 0px; 
	LEFT: 0px; 
	
	CURSOR:pointer;	
}

.toptitle {
	COLOR: #000000;
	BACKGROUND-COLOR:#2897B3;
	HEIGHT: 30px;
}

#DivWait {
	POSITION: absolute; 
	TOP: 70px; 
	LEFT: 0px;
	
	BACKGROUND-IMAGE:url(../Images/process_small.gif); 
	BACKGROUND-POSITION:top left; 
	BACKGROUND-REPEAT:no-repeat;

	VERTICAL-ALIGN: middle;
	
	HEIGHT:30px;
	WIDTH: 50%;
}

#DivWait table {
	PADDING-LEFT: 35px;

	FONT-FAMILY: Arial, Lucida Sans;
	COLOR: #F4FFFB;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px;
}

#DivUser {
	POSITION: absolute; 
	TOP: 5px; 
	RIGHT: 0px;
	VERTICAL-ALIGN: bottom;

	BACKGROUND-POSITION:top right; 
	BACKGROUND-REPEAT:no-repeat; 
	
	HEIGHT:30px;
}

#DivUser table {
	PADDING-RIGHT: 5px; 
	FONT-FAMILY: Arial, Lucida Sans;
	COLOR: #EAF7FF;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px;
	TEXT-ALIGN: right;
}

/* Recuadros ------------------------------------------------------------------------------*/
.recuadro_1 {
	BORDER: 1px solid #949698;
}


/* Textos  ------------------------------------------------------------------------------- */
.title_1 {
	FONT-FAMILY: Arial, Lucida Sans;
	COLOR: #094495;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px;
}

.title_2 {
	FONT-FAMILY: Arial, Lucida Sans;
	COLOR: #094495;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 18px;
}

.title_3 {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px;
}

.text_1 {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 11px;
}

.label {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	COLOR: #005B72;
	
}

.label_r {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	COLOR: #005B72;
	
	BACKGROUND-IMAGE:url(../images/AsteriscoReq.gif); 
	BACKGROUND-POSITION:Top left; 
	BACKGROUND-REPEAT:no-repeat;
	
	PADDING-LEFT: 8px;	
	
}

.label_r_ejemplo {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;

	COLOR: #005B72;
	
	BACKGROUND-IMAGE:url(../images/AsteriscoReq.gif); 
	BACKGROUND-POSITION:Top left; 
	BACKGROUND-REPEAT:no-repeat;
	
	PADDING-LEFT: 8px;
	
}

.TopMenuText {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 14px;
	COLOR: #ffffff;
	
	TEXT-DECORATION: none;
	TEXT-ALIGN: center;
	CURSOR:pointer;
}

.TopMenuTextO {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	COLOR: #ffffff;
	
	CURSOR:pointer;
}

.TopMenuTextD {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 14px;
	COLOR: #DBDBDB;
	
	TEXT-ALIGN: center;
	CURSOR:default;
}

/* Tabla de dependencias --------------------------------------------------*/
.LeftColumn {
	BACKGROUND-COLOR: #E4E5E6;
}

.TableDependencias {
	BACKGROUND-COLOR: #F7F7F7;
	
	COLOR: #005B72;

	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;

	BACKGROUND-POSITION:3px center; 
	BACKGROUND-REPEAT:no-repeat;
}

.TableDependencias TH {
	PADDING-LEFT: 5px;
	BACKGROUND-COLOR: #949698;
	COLOR: #ffffff;
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
}

.TDep_s {
	BACKGROUND-COLOR: #F7F7F7;

	PADDING-BOTTOM: 3px; 
	PADDING-LEFT: 22px;
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 3px;
	
	COLOR: #005B72;

	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;

	BACKGROUND-POSITION:3px center; 
	BACKGROUND-REPEAT:no-repeat;
	
	BACKGROUND-IMAGE:url(../images/Links/link2_o.gif); 
	COLOR: #ffffff; 
	BACKGROUND-COLOR: #84BD41;
}

.TDep_n {
	BACKGROUND-COLOR: #F7F7F7;

	PADDING-BOTTOM: 3px; 
	PADDING-LEFT: 22px;
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 3px;
	
	COLOR: #005B72;

	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;

	BACKGROUND-POSITION:3px center; 
	BACKGROUND-REPEAT:no-repeat;
	
	BACKGROUND-IMAGE:url(../images/Links/link_n.gif); 
	CURSOR: pointer;
}

.TDep_o {
	BACKGROUND-COLOR: #F7F7F7;

	PADDING-BOTTOM: 3px; 
	PADDING-LEFT: 22px;
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 3px;
	
	COLOR: #005B72;

	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;

	BACKGROUND-POSITION:3px center; 
	BACKGROUND-REPEAT:no-repeat;
	
	BACKGROUND-IMAGE:url(../images/Links/link_o.gif); 
	COLOR: #ffffff; 
	BACKGROUND-COLOR: #87A9C2;
	CURSOR: pointer;
}

/* Tabla de consejos --------------------------------------------------------------------*/
.Adv {
	BACKGROUND-COLOR: #F7F7F7;
	BORDER: 4px solid #949698;
	COLOR: #005B72;

	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 13px;
	FONT-WEIGHT: normal;
}

.Adv TH {
	PADDING-LEFT: 5px;
	BACKGROUND-COLOR: #949698;
	COLOR: #ffffff;
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;

	BACKGROUND-IMAGE:url(../images/Admira_1.gif); 
	BACKGROUND-POSITION:bottom right; 
	BACKGROUND-REPEAT:no-repeat;
}

.Adv TD {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 11px;

	PADDING-LEFT: 10px; 
	PADDING-RIGHT: 10px; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px;

	BACKGROUND-IMAGE:url(../images/Admira_2.gif); 
	BACKGROUND-POSITION:top right; 
	BACKGROUND-REPEAT:no-repeat;	
}

/* TDs y TRs Especiales -------------------------------------------------------------------*/
.titulo_1 {
	BACKGROUND-COLOR: #84BD41;

	PADDING-BOTTOM: 3px; 
	PADDING-LEFT: 5px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 3px;
	
	COLOR: #ffffff; 

	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 13px; 
	FONT-WEIGHT: bold; 	
	FONT-STYLE: normal;
}

.titulo_2 {
	BORDER-BOTTOM: solid 2px #84BD41;
}

.titulo_2_span {
	BACKGROUND-COLOR: #84BD41;

	PADDING-BOTTOM: 3px; 
	PADDING-LEFT: 5px; 
	PADDING-RIGHT: 5px; 
	PADDING-TOP: 3px;
	
	COLOR: #ffffff; 

	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 13px; 
	FONT-WEIGHT: normal; 	
	FONT-STYLE: normal;	
}

.BotoneraSecciones {
	PADDING-BOTTOM: 10px; 
}

.BotSec_n, .BotSec_o {
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	
	COLOR: #5B93A3;
	CURSOR: pointer;
}

.BotSec_o {
	COLOR: #005B72;
}

.BotSecL {
	BACKGROUND-IMAGE:url(../images/Links/prev_n.gif); 
	BACKGROUND-POSITION:center left; 
	BACKGROUND-REPEAT:no-repeat; 
	
	PADDING-LEFT: 16px;
}

.BotSecR {
	BACKGROUND-IMAGE:url(../images/Links/next_n.gif); 
	BACKGROUND-POSITION:center right; 
	BACKGROUND-REPEAT:no-repeat; 
	
	PADDING-RIGHT: 16px;
}

.TDBottomLine {
	BORDER-BOTTOM: solid 1px #007596;
}

/* Grilla Variable ----------------------------------------------------------------------------------*/

.TableGrid {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 12px; 
	FONT-WEIGHT: bold;
	FONT-STYLE: normal;
	
	border: solid 1px #007596;
}

.TableGrid TH {
	BACKGROUND-COLOR: #D5E1E4;
	COLOR: #000000; 
	BORDER-BOTTOM: solid 1px #007596;
}

.TableGrid TD {
	COLOR: #000000; 
	FONT-WEIGHT: normal;
}

.TableGrid .C1 {
}

.TableGrid .C2 {
	BACKGROUND-COLOR: #F5F5F5;
}

.TableGrid .C3 {
	BACKGROUND-COLOR: #B7D4DB;
}

/* INPUT DE CONTROLES CON BOX TEXTBOX, DATEBOX, etc ----------------------------------------------------*/
textarea input.Box {
	font-size: 12px;
	font-family: Verdana;
	color: #2f2f2f;

	border: solid 1px #a4a3a3;
	background-color: #ffffff;
}

input.BoxF {
	font-size: 12px;
	font-family: Verdana;
	color: #2f2f2f;

	border: solid 1px #a4a3a3;
	background-color: #edebee;
}

input.BoxD {
	font-size: 12px;
	font-family: Verdana;
	color: #2f2f2f;

	border: solid 1px #a4a3a3;
	background-color: #EFEFEA;
}

select.BoxD {
	font-size: 12px;
	font-family: Verdana;
	color: #2f2f2f;

	border: solid 1px #a4a3a3;
	background-color: #EFEFEA;
}

/* BUTTONS --------------------------------------------------------------------------*/

.Buttons {
    font-family: Verdana;
    font-size: 11px;
    text-decoration: none;
    cursor:pointer;
	
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
			
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	
	height:16px;
}

.BImg {
	background: 10px center no-repeat;
	padding-left:32px;
}

.BC_n {color:#333333;}
.BC_o {color:#007EA2;}
.BC_d {color:#8f8f8f; cursor:default;}

.BV_n {color:#333333;}
.BV_o {color:#FFFFFF;}
.BV_d {color:#8f8f8f; cursor:default;}

.BA_n {color:#666666;}
.BA_o {color:#FFFFFF;}
.BA_d {color:#8f8f8f; cursor:default;}

/* LINKS --------------------------------------------------------------------------*/

.links {
    FONT-FAMILY: Verdana;
    FONT-SIZE: 11px;
    TEXT-DECORATION: underline;
    CURSOR: pointer;
    
    COLOR: #005B72;
}

/* ESTILOS DEL BROWSER --------------------------------------------------------------------------*/

.BrowserMain {
	background-color: #FFFFFF; 
	cursor: default;
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	BORDER-TOP-STYLE: none; 
	PADDING-TOP: 0px; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none

}

.BrowserMainTable {
	
    FONT-FAMILY: Verdana;
    FONT-SIZE: 11px;
    
    COLOR: #005B72;	
}

.BrowserTitle {
	BACKGROUND-IMAGE:url(../images/Menu-top.gif); 
	BACKGROUND-POSITION:top right; 
	BACKGROUND-REPEAT:no-repeat; 
	BACKGROUND-COLOR:#007798;

	FONT-FAMILY: Arial, Lucida Sans;
	COLOR: #EAF7FF;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px;
}

/* TEXTOS LARGOS --------------------------------------------------------------------------*/
.Terminos {
	FONT-FAMILY: Arial, Lucida Sans;
	COLOR: #005B72;
	FONT-SIZE: 13px;
}

.TerminosTit {
	FONT-FAMILY: Arial, Lucida Sans;
	COLOR: #005B72;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px;
}
