body {
	BACKGROUND-COLOR: #FFFFFF;
	
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none;
	BORDER-TOP-STYLE: none;
	
	COLOR: #292929; 
	
	#SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; 
	#SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
	
	#SCROLLBAR-TRACK-COLOR: #D8D8D8; 
	#SCROLLBAR-FACE-COLOR: #D8D8D8;
	#SCROLLBAR-BASE-COLOR: #D5E1E4;
	
	#SCROLLBAR-ARROW-COLOR: #636363; 	
}

.BodyMain {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px; 
	
	FONT-FAMILY: Verdana;
}

.rowData_normal {
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left;
}				
	

.size01 {
	FONT-SIZE: 10px;
}

.size02 {
	FONT-SIZE: 11px;
}

.size02b {
	FONT-SIZE: 11px;
	font-weight: bold;
}

.size03 {
	FONT-SIZE: 12px;
}


.seleccionable {
	BORDER-COLLAPSE: collapse;
}

.cabecera {
	FONT-SIZE: 11px;
	font-weight: bold;  
	color: #000000;
	font-family: Verdana;
	Text-Align: left;
	background-color: #D5E1E4;
	BORDER-BOTTOM: solid 1px #007596;
	padding-bottom: 5px;
}

.rowtipo_n_0 {
	background-color: #F5F5F5;
	cursor:pointer;
}
.rowtipo_o_0 {
	background-color: #6D96A0;
	color: #FFFFFF;
	cursor:pointer;
}
.rowtipo_n_1 {
	background-color: #FFFFFF;
	cursor:pointer;
}
.rowtipo_o_1 {
	background-color: #6D96A0;
	color: #FFFFFF;
	cursor:pointer;
}


.Det_Titulo {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 18px;
	
	COLOR: #094495;
	
	TEXT-ALIGN: left;
	BORDER-BOTTOM: #FFFFFF 1px solid; 
	PADDING-BOTTOM: 5px;
}

.Det_Datos {
	FONT-SIZE: 11px;
	font-family: Verdana;
}

.Det_Label {
	FONT-FAMILY: Arial, Lucida Sans;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	COLOR: #005B72;
}

.Det_TabTitulo {
	background-image:url(../Images/A3.gif);
	background-position:bottom right; 
	background-repeat:no-repeat;
	text-align: right;
	padding-right:8px;
	padding-top:50px;
	padding-bottom:10px;
	font-size: 140%;
	font-weight:bold;
	color:#FFFFFF;
	border-bottom: 3px #A7A5A6 solid;
}

.Det_RepTitulo {
	background-position:bottom right; 
	background-repeat:no-repeat;
	text-align: right;
	padding-right:8px;
	padding-top:35px;
	padding-bottom:10px;
	vertical-align:bottom;
	font-weight:bold;
	
	border-bottom: 3px #A7A5A6 solid;
}

.Det_Notas {
	padding-right:15px;
}


/* ----------------------------------------------------------------------------------*/
.titulo_1 {
	BACKGROUND-COLOR: #84BD41;

	PADDING-BOTTOM: 3px; 
	PADDING-LEFT: 5px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 3px;
	
	COLOR: #ffffff; 

	FONT-FAMILY: Arial, Lucida Sans;
}
					